
/*.react-collapsible-theme table.react-collapsible {
  
  
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  transform: scale(0.4);
  transform-origin: 0 0;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/* Table Styles *

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:5px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:5px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}   */
 tr:nth-child(odd) td {
  background-color:#ffffff;
}
 
 tr:nth-child(odd):hover td {
  background-color:#4E5066;
}

#matchComp .react-collapsible-theme table.react-collapsible {
  margin-top: 20%;
  display: inline-block;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    margin-left: -5%;
   
  }
  #matchComp{
    margin-top: -8%;
  }
  @media only screen and (max-width: 1000px){
   #matchComp .react-collapsible-theme table.react-collapsible {
      display: inline-block;
      box-sizing: border-box;
   
   
      transform:scale(.8) translate(-50%, -50%);
  transform-origin: 0 0;
  
    }}
    @media only screen and (max-width: 550px){
      .react-collapsible-theme table.react-collapsible {
        display: inline-block;
  box-sizing: border-box;
  
    
        transform:scale(.26);
  transform-origin: 0 0;
  
      }
  }
  @media only screen and (max-width: 400px){
    .react-collapsible-theme table.react-collapsible {
      display: inline-block;
      transform:scale(.2);
  transform-origin: 0 0;
  margin-left: -10%;
    }
  }
  .react-collapsible-theme .react-collapsible thead,
  .react-collapsible-theme .react-collapsible .child-label {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #555;
    text-align: left;
    font-weight: 600;
  }
  
  .react-collapsible-theme .react-collapsible thead th,
  .react-collapsible-theme .react-collapsible td {
    padding-bottom: .8rem;
  }
  
  .react-collapsible-theme .react-collapsible .clickable {
    cursor: pointer;
  }
  
 .react-collapsible-theme .react-collapsible tr {
    border-bottom: 0.1rem #e0e4ea solid;
    background-color:#c0c0c0;
  }
  
  .react-collapsible-theme .react-collapsible td {
    padding: .5rem .8rem .8rem 0;
    font-size: 1.4rem;
    font-weight: 200;
  }
 tr:nth-child(odd) td {
    background:#ffffff;
  }
  #matchsComp td {
    background:#FFFFFF;
    padding:20px;
    vertical-align:middle;
    font-weight:300;
    font-size:10px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }
  
  /*child row in table */
  
  .react-collapsible-theme .react-collapsible .child-cell {
    display: flex;
  }
  
  .react-collapsible-theme .react-collapsible .child-label {
    margin-left: .6rem;
    flex-basis: 25%;
  }
  
  .react-collapsible-theme .react-collapsible .child-content {
    flex-basis: 75%;
  }
  
  @media screen and (min-width: 768px) {
    .react-collapsible-theme .react-collapsible .child-label {
        margin-left: 1.6rem;
        flex-basis: 10%;
    }
    .react-collapsible-theme .react-collapsible .child-content {
        flex-basis: 90%;
    }
  }
  
  
  /*Styles for search */
  
  .react-collapsible-theme .react-collapsible-search {
    margin: 3.2rem 0;
  }
  
  .react-collapsible-theme .react-collapsible-search .react-collapsible-clear {
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
  }
  
  .react-collapsible-theme .react-collapsible-search input {
    border: 0;
    border-bottom: 1px #009cde solid;
    width: 100%;
    height: 2rem;
    font-size: 1.4rem;
    font-weight: 200;
  }
  
  .react-collapsible-theme .react-collapsible-search input::placeholder {
    color: #858DA3;
  }
  
  .react-collapsible-theme .react-collapsible-search .search-input {
    display: inline-block;
    position: relative;
  }
  
  .react-collapsible-theme .react-collapsible-search .search-input .search-icon {
    position: absolute;
    right: -2px;
    top: 0;
  }
  
  .react-collapsible-theme .brand-primary-light {
    color: #009cde;
  }
  
  .react-collapsible-theme .search-highlight {
    background-color: #C1C9D5;
  }
  
  
  /*Styles for pagination */
  
  .react-collapsible-theme .react-collapsible-page {
    font-size: 1.4rem;
    font-weight: 200;
  }
  
  .react-collapsible-theme .react-collapsible-page .arrow-left {
    margin-right: .8rem;
  }
  
  .react-collapsible-theme .react-collapsible-page .arrow-right {
    margin-left: .8rem;
  }
  
  .react-collapsible-theme .highlight {
    background-color: #FFFF00
  }
  th.column-table.clickable {
  width: 50px;
  }
  table.react-collapsible th{
    width: 50px;
  }
  table img {
    margin-left:30% ;
    height: 70px;
    width: 70px;
  }